@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;1,400&family=Poppins:wght@200&display=swap');


.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 20px;
 
}
.boton-1{
  background-color: #81848a;
  border-radius:30px;
  margin-bottom: 5px;
  margin-top: 12px;
  padding: 10px;
  color: beige;
  
 
}
.button-2{
    background-color:rgb(134, 104, 104);;
    padding: 10px;
    color: beige; 
    padding: 10px;
    border-radius: 25px;
    width: 55px;
  }
  
